{% import '_includes/forms' as forms %}

{{ forms.selectField({
    label: "Display Theme",
    id: 'kintDisplayTheme',
    name: 'kintDisplayTheme',
    options: {
                'original.css': 'Original',
                'solarized.css': 'Solarized',
                'solarized-dark.css': 'Solarized Dark',
                'aante-light.css': 'Aante Light'
    },
    default: 'original',
    value: settings.kintDisplayTheme,
    first: true
}) }}

{{ forms.textField({
  label: "Max parsing depth. A number between 0 (unlimited) and 7 (Default)",
  id: 'kintMaxDepth',
  name: 'kintMaxDepth',
  default: '7',
  value: settings.kintMaxDepth
}) }}
